.replybox {
  display: flex;
  width: 730px;
  justify-content: space-between;
}

.commentBox {
  display: flex;
  margin-top: 8px;
}

.line {
  height: 166px;
  width: 2px;
  background: var(--Light-gray);
  margin-inline: 40px;
}

.line2 {
  height: 328px;
  width: 2px;
  background: var(--Light-gray);
  margin-inline: 40px;
}

.container {
  width: 594px;
  min-height: 118px;
  background-color: var(--White);
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  gap: 28px;
}

.container2 {
  width: 594px;
  height: 280px;
  background-color: var(--White);
  margin: auto;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  gap: 28px;
}

.userImage {
  width: 40px;
}

.userImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.input {
  width: 506px;
  border-color: var(--Light-gray);
  border-radius: 10px;
  padding: 26px;
  font-size: 16px;
}

.editArea {
  width: 470px;
  border-color: var(--Light-gray);
  border-radius: 10px;
  padding: 26px;
  font-size: 16px;
}

.send {
  width: 102px;
  height: 46px;
  background-color: var(--Moderate-blue);
  color: white;
  font-size: 16px;
  border-radius: 8px;
}

.update {
  width: 102px;
  height: 46px;
  background-color: var(--Moderate-blue);
  color: white;
  font-size: 16px;
  border-radius: 8px;
  float: right;
  margin-top: 14px;
}

.commentInfo {
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  justify-content: space-between;
}

header div {
  display: flex;
  align-items: center;
  gap: 18px;
}

header .profileImage {
  height: 34px;
  width: 34px;
}

header .profileImage img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.username {
  color: var(--Dark-blue);
}

.date {
  color: var(--Grayish-Blue);
}

.button {
  outline: transparent;
  background-color: inherit;
  border: none;
  color: var(--Moderate-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
}

.you {
  width: 36px;
  height: 20px;
  background-color: var(--Moderate-blue);
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.dlt {
  outline: transparent;
  background-color: inherit;
  border: none;
  color: var(--Soft-Red);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 16px;
}
