.container{
    width: 730px;
    height: 168px;
    background-color:var(--White);
    margin: auto;
    padding: 24px;
}

.voteContainer{
    height: 96px;
    width: 38px;
    background-color: var(--Light-gray);
    border-radius: 10px;
}